body {
  background-image: url(https://papers.co/wallpaper/papers.co-vt17-abstract-line-digital-dark-green-pattern-28-wallpaper.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
